<div class="bg">
<div [hidden] = "onlyForView">
  <form class="form" [formGroup]="primerakForm" (ngSubmit)="onSubmit(primerakForm.value.id)">
    <mat-form-field>
      <input matInput placeholder="id primerka:" type="number" formControlName="id" required i18n-placeholder>
      <button i18n class="btn" type="submit" [disabled]="!primerakForm.valid">Pronadji rezervaciju za primerak</button>
    </mat-form-field>
  </form>
  <p >{{poruka}}</p>
 
</div>
<div *ngIf = "prikaz">
<p i18n>Publikacija:</p>
  <form class="form" [formGroup]="rezervacijaForm" >
    <mat-form-field>
      <input matInput placeholder="ISBN publikacije" type="text" formControlName="isbn" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="naziv publikacije" type="text" formControlName="nazivPublikacije" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="jezik" type="text" formControlName="jezik" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="autor " type="text" formControlName="autor" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="godina izdanja " type="text" formControlName="godinaIzdanja" readonly i18n-placeholder>
    </mat-form-field>
  </form>
</div>

<div *ngIf = "prikaz">
<p i18n> Rezervacija: </p>
  <form class="form" [formGroup]="rezervacijaForm2" (ngSubmit)="zaduzi(rezervacijaForm2.value)">
    <mat-form-field>
      <input matInput placeholder="id rezervacije" type="text" formControlName="idRezervacija" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="datum rezervisanja" type="text" formControlName="datumRezervisanja" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="datum isteka rezervacije" type="text" formControlName="datumIstekaRezervacije" readonly i18n-placeholder>
    </mat-form-field>
    <button i18n class="btnZaduzi" type="submit" [disabled]="!primerakForm.valid" [hidden] = "onlyForView" >Zaduzi primerak</button>     
  </form>
</div>

<div *ngIf = "prikaz" >
<p i18n > Clan: </p>
  <form class="form" [formGroup]="rezervacijaForm3">
    <mat-form-field>
      <input matInput placeholder="clanski broj" type="text" formControlName="idKorisnik" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="ime i prezime" type="text" formControlName="imePrezime" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="datum rodjenja" type="text" formControlName="datumRodjenja" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="mesto rodjenja" type="text" formControlName="grad" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="fakultet" type="text" formControlName="fakultet" readonly i18n-placeholder>
    </mat-form-field>   
  </form>
</div>
</div>