<div class="bg">
<p  lass="red">{{poruka}}</p>
<div [hidden] = "!prikaz">
  <form class="form" [formGroup]="publikacijeForm" >
    <mat-form-field>
      <input matInput placeholder="ISBN publikacije" type="text" formControlName="isbn" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="naziv publikacije" type="text" formControlName="nazivPublikacije" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="jezik" type="text" formControlName="jezik" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="autor " type="text" formControlName="autor" readonly i18n-placeholder>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="godina izdanja " type="text" formControlName="godinaIzdanja" readonly i18n-placeholder>
    </mat-form-field>
  </form>
  <p i18n *ngIf = "!empty" >Primerci:</p>
</div>
<div [hidden] = "empty">
  <table mat-table
  [dataSource]="dataSource"  class="mat-elevation-z8"  >
    <ng-container matColumnDef="id" >
      <th i18n mat-header-cell *matHeaderCellDef > id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="datumStampe">
      <th i18n mat-header-cell *matHeaderCellDef > datum stampe </th>
      <td mat-cell *matCellDef="let element"> {{element.datumStampe | date: 'MM-dd-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="zaIzdavanje" >
      <th i18n mat-header-cell *matHeaderCellDef> slobodan </th>
      <td mat-cell *matCellDef="let element"> 
        <p *ngIf = "!element.zaIzdavanje" i18n> ne</p>
        <p *ngIf = "element.zaIzdavanje" i18n> da</p>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="rezervisi">
      <th i18n mat-header-cell  *matHeaderCellDef > Rezervisi </th>
      <td mat-cell  *matCellDef="let row" >
        <button [disabled]="!row.zaIzdavanje"  mat-button [disabled]="clicked"  (click)="getRecord(row.id)" > 
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th i18n mat-header-cell  *matHeaderCellDef > detalji </th>
      <td mat-cell  *matCellDef="let row" >
        <button [disabled]="row.zaIzdavanje" mat-button (click)="checkInfo(row.id)" >
          <mat-icon>details</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 5, 10]" ></mat-paginator>
</div>
</div>