<div class="bg">

<form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" *ngIf = "prikazi">
  <mat-form-field>
    <input matInput placeholder="clanski broj" type="text" formControlName="idKorisnik"  required readonly i18n-placeholder>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ime i prezime" type="text" formControlName="imePrezime"  required i18n-placeholder>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="username" type = "text" formControlName="username" required i18n-placeholder>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Datum rodjenja"  formControlName="datumRodjenja" required i18n-placeholder>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Fakultet" formControlName="idFakultet" i18n-placeholder>
      <mat-option *ngFor="let fakultet of fakulteti" [value]="fakultet.idFakultet">{{fakultet.nazivFakulteta}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Mesto rodjenja" formControlName="postanskiBroj" required i18n-placeholder>
      <mat-option *ngFor = "let grad of gradovi" [value]="grad.postanskiBroj">{{grad.postanskiBroj}} {{grad.nazivGrada}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="btn" i18n type="submit" [disabled]="!profileForm.valid">Azuriraj</button>
  <p style="color: brown; " i18n *ngIf = "profileForm.status == 'VALID'" >Status forme: validna</p>
  <p style="color: brown; " i18n *ngIf = "profileForm.status == 'INVALID'" >Status forme: nevalidna</p>
</form>
<p class= "red">{{poruka}}</p>
</div>
