<div class="bg">
<p class= "red">{{poruka}}</p>
<form class="form" [formGroup]="viewClanForm" *ngIf = "prikazi">
  <mat-form-field style="text-align: center">
    <input matInput placeholder="clanski broj" type="text" formControlName="idKorisnik" readonly i18n-placeholder>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ime i prezime" type="text" formControlName="imePrezime" readonly i18n-placeholder>
  </mat-form-field>

  <mat-form-field style="width: 20%">
    <input  matInput placeholder="username" type = "text" formControlName="username" readonly i18n-placeholder>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Datum rodjenja"  formControlName="datumRodjenja" readonly i18n-placeholder>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="fakultet" type = "text" formControlName="fakultet" readonly i18n-placeholder>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="grad" type = "text" formControlName="grad" readonly i18n-placeholder>
  </mat-form-field>

  <mat-form-field style="text-align: center">
      <input matInput placeholder="broj otkazanih revervacija" type = "text" formControlName="brojOtkaza" readonly i18n-placeholder>
    </mat-form-field>
</form>
<br>
<p class="red">{{porukaRezervacije}}</p>
<p i18n *ngIf = "rezervacijePostoje"> Trenutne rezervacije clana: </p>
<div [hidden] = "!rezervacijePostoje">
  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
    <ng-container matColumnDef="idRezervacija">
      <th i18n mat-header-cell *matHeaderCellDef > id </th>
      <td mat-cell *matCellDef="let element"> {{element.idRezervacija}} </td>
    </ng-container>

    <ng-container matColumnDef="datumRezervisanja">
      <th i18n mat-header-cell *matHeaderCellDef > datum rezervisanja </th>
      <td mat-cell *matCellDef="let element"> {{element.datumRezervisanja | date: 'MM-dd-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="datumIstekaRezervacije">
      <th i18n mat-header-cell *matHeaderCellDef> datum isteka rezervacije </th>
      <td mat-cell *matCellDef="let element"> {{element.datumIstekaRezervacije | date: 'MM-dd-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="ostvarena">
      <th i18n mat-header-cell *matHeaderCellDef> ostvarena </th>
      <td mat-cell *matCellDef="let element"> {{element.ostvarena}} </td>
    </ng-container>

    <ng-container matColumnDef="publikacija">
      <th i18n mat-header-cell *matHeaderCellDef> naziv publikacije </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.publikacija.nazivPublikacije}} </td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th i18n mat-header-cell *matHeaderCellDef> isbn </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.publikacija.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th i18n mat-header-cell *matHeaderCellDef> autor </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.publikacija.autor}} </td>
    </ng-container>

    <ng-container matColumnDef="jezik">
      <th i18n mat-header-cell *matHeaderCellDef> jezik </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.publikacija.jezik.nazivJezika}} </td>
    </ng-container>

    <ng-container matColumnDef="godinaIzdanja">
      <th i18n mat-header-cell *matHeaderCellDef> godina izdanja </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.publikacija.godinaIzdanja}} </td>
    </ng-container>

    <ng-container matColumnDef="primerak">
      <th i18n mat-header-cell *matHeaderCellDef> broj primerka </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.id}} </td>
    </ng-container>

    <ng-container matColumnDef="datumStampe">
      <th i18n mat-header-cell *matHeaderCellDef> datum Stampe </th>
      <td mat-cell *matCellDef="let element"> {{element.primerak.datumStampe | date: 'MM-dd-yyyy'}} </td>
    </ng-container>
    
    <ng-container matColumnDef="akcija">
      <th i18n mat-header-cell  *matHeaderCellDef > zaduzi </th>
      <td mat-cell *matCellDef="let row" >
      <button  mat-button (click)="submitRecord(row.idRezervacija)" > 
        <mat-icon >keyboard_tab</mat-icon>
      </button>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;"> </tr>
  </table>
  <mat-paginator #rezervacijePaginator [pageSizeOptions]="[3, 5, 10]" ></mat-paginator>
</div>
  <p class="red"> {{porukaZaduzenja}}</p>
  <p i18n *ngIf = "zaduzenjaPostoje">  Trenutna zaduzenja clana: </p>
<div [hidden] = "!zaduzenjaPostoje">
  <table mat-table [dataSource]="dataSourceZaduzenja"  class="mat-elevation-z8">
    <ng-container matColumnDef="idZaduzenje">
      <th i18n mat-header-cell *matHeaderCellDef > id zaduzenja </th>
      <td mat-cell *matCellDef="let element"> {{element.idZaduzenje}} </td>
    </ng-container>

    <ng-container matColumnDef="datumZaduzenja">
      <th i18n mat-header-cell *matHeaderCellDef > datum zaduzenja </th>
      <td mat-cell *matCellDef="let element"> {{element.datumZaduzenja | date: 'MM-dd-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="rokZaPovratak">
      <th i18n mat-header-cell *matHeaderCellDef> rok za povratak </th>
      <td mat-cell *matCellDef="let element"> {{element.rokZaPovratak | date: 'MM-dd-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="vracena">
      <th i18n mat-header-cell *matHeaderCellDef> vracena </th>
      <td mat-cell *matCellDef="let element"> {{element.vracena}} </td>
    </ng-container>

    <ng-container matColumnDef="rezervacija">
      <th i18n mat-header-cell *matHeaderCellDef> po rezervaciji</th>
      <td mat-cell *matCellDef="let element"> {{element.rezervacija.idRezervacija}} </td>
    </ng-container>

    <ng-container matColumnDef="naziv">
      <th i18n mat-header-cell *matHeaderCellDef> naziv publikacije </th>
      <td mat-cell *matCellDef="let element"> {{element.rezervacija.primerak.publikacija.nazivPublikacije}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th i18n mat-header-cell *matHeaderCellDef> autor </th>
      <td mat-cell *matCellDef="let element"> {{element.rezervacija.primerak.publikacija.autor}} </td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th i18n mat-header-cell *matHeaderCellDef> isbn </th>
      <td mat-cell *matCellDef="let element"> {{element.rezervacija.primerak.publikacija.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="jezik">
      <th i18n mat-header-cell *matHeaderCellDef> jezik </th>
      <td mat-cell *matCellDef="let element"> {{element.rezervacija.primerak.publikacija.jezik.nazivJezika}} </td>
    </ng-container>

    <ng-container matColumnDef="primerak">
      <th i18n mat-header-cell *matHeaderCellDef> primerak </th>
      <td mat-cell *matCellDef="let element"> {{element.rezervacija.primerak.id}} </td>
    </ng-container>

    <ng-container matColumnDef="akcija">
      <th i18n mat-header-cell  *matHeaderCellDef > razduzi </th>
      <td mat-cell *matCellDef="let row" >
      <button  mat-button (click)="freeRecord(row.idZaduzenje)" > 
        <mat-icon >keyboard_return</mat-icon>
      </button>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsZaduzenja"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumnsZaduzenja;"> </tr>
  </table>
  <mat-paginator #zaduzenjaPaginator [pageSizeOptions]="[3, 5, 10]" ></mat-paginator>
</div>
</div>

